# Backend API Base URL
VITE_API_URL=https://carpool-backend-8qoy.onrender.com/api

# Optional: Realtime Socket Server URL
# VITE_SOCKET_URL=https://carpool-backend-8qoy.onrender.com

# Firebase Realtime Database Configuration (for Driver GPS telemetry)
VITE_FIREBASE_API_KEY=AIzaSyAzzPDiB3J359Ny_fWkJhF4OqSOjn3NoYQ
VITE_FIREBASE_AUTH_DOMAIN=carpooling-app-4879a.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://carpooling-app-4879a-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=carpooling-app-4879a
VITE_FIREBASE_STORAGE_BUCKET=carpooling-app-4879a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=988389117509
VITE_FIREBASE_APP_ID=1:988389117509:web:79c2d3817d3f6ea5f6dd2c

# Optional: OpenRouteService / Map API Key
# VITE_ORS_API_KEY=
